@import "../../../variables.scss";

.app-sidenav-subnav {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 320px;
  background-color: $secondary-background-color;
  color: $secondary-color;
  border-left: $primary-border;
  height: 100vh;

}

.app-sidenav-header {
  height: 80px;
  box-sizing: border-box;
  color: $primary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
}

h1 {
  margin: 0;
  text-transform: uppercase;
}

.icon-button {
  color: $primary-color;
  background: none !important;
  border: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
 
  li {
    margin: 0;

    button {
      display: flex;
      border: none;
      background-color: transparent;
      width: 100%;
      height: 60px;
      color: $secondary-color;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: start;
      padding: 1rem;
      font-size: 18px;
      cursor: pointer;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    }
 
    button:hover {
      color: $primary-color
    }

    mat-icon {
      color: $primary-color;
    }
  }
  
  li:last-child > button{
    border-bottom: none;
    justify-content: flex-start;
  }

}




