<div class="dev-container">
  <div class="dev-box">
    <div class="dev-image"></div>
    <div class="dev-cto">
      <div class="dev-slogan">
        <div class="dev-title">
          <h1>sicherheit</h1>
          <div class="word-group">
            <h1>durch</h1>
            <h1 class="last-word">&nbsp;qualität</h1>
          </div>
        </div>
        <div class="dev-title-mobile">
          <h1>sicherheit durch</h1>
          <div class="word-group">
            <h1 class="last-word">&nbsp;qualität</h1>
          </div>
        </div>
        <div class="dev-subtitle">
          <div class="subtitle-first">
            <span style="color: #ffff39">Asave Security Service</span
            ><span>&nbsp;- Ihr ISO-zertifiziertes</span>
          </div>
          <span> <br />Sicherheitsunternehmen aus Linz.</span>
        </div>
        <button mat-raised-button>jetzt anfragen</button>
        <button mat-raised-button>jetzt bewerben</button>
      </div>
    </div>
  </div>
</div>
