
.service-card-label {
    box-sizing: border-box;
    position: absolute;
    z-index: 8;
    bottom: 0;
    width: 100%;
    padding: 16px;
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    flex-direction: row;

    h2 {
        margin: 0;
        text-transform: uppercase;
    }
}
.mat-grid-list {
    width: 100%;
}
.mat-grid-tile {
    cursor: pointer;
}