<h1 mat-dialog-title style="text-align: center">Herzlich Willkommen</h1>
<div mat-dialog-content class="dialog-body">
  <p>
    Zur Qualitätssteigerung wird unsere Website aktuell überarbeitet, wir sind
    für Sie bald wieder im gewohnen Umfang erreichbar.
  </p>
  <p style="text-align: start;">Für Anfragen aller Art wenden Sie sich bitte an <strong> office@asave.at</strong>.</p>
  <br />
  <p style="text-align: start">Vielen Dank für Ihr Verständnis!</p>
</div>
<div mat-dialog-actions style="justify-content: center">
  <button mat-button mat-dialog-close>Schließen</button>
</div>
