@import "../variables";


.app-toolbar {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $primary-background-color;
  border-bottom: $primary-border;
  min-height: 80px;
  z-index: 9;
}

.app-toolbar-element {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-button {
  position: absolute;
  color: $primary-color;
  background: none !important;
  border: none;
}

#app-toolbar-button>mat-icon {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-toolbar-element:last-child {
  align-items: flex-end !important;
}

.app-sidenav {
  min-width: 320px;
  background-color: $secondary-background-color;
  color: $secondary-color;
  border-left: $primary-border;
  height: 100vh;
  overflow: hidden;

}

.left {
  align-items: flex-start;
}

.mat-sidenav-content {
  overflow: hidden;
  background-image: url("../assets/images/app-background.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #051136;
  padding: 1rem;
}

@media (min-width:600px) {
  .mat-sidenav-content {
    padding-left: 64px;
    padding-right: 64px;
  }


}

@media (min-width:1400px) {
  .mat-sidenav-content {
    padding-left: 10%;
    padding-right: 10%;
  }
}
