<div class="home-header-container">

  <div class="header-content-top">
 <!--    <img
      class="header-logo"
      src="../../../assets/images/app-logo-neu.png"
      alt=""
    /> -->
  </div>
  <div class="header-content-bottom">
    <div class="text-container">
      <div class="first-word">
        <h1>Sicherheit</h1>
      </div>
      <div class="last-words">
        <h1>durch</h1>
        <h1 class="yellow">Qualität</h1>
      </div>
    </div>
    <button class="btn">jetzt anfragen</button>
    <div class="pagination">
      <button class="pagination-item"></button>
      <button class="pagination-item inactive"></button>
    </div>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </div>
   <!--  
  </div>
  <div class="header-content-bottom">
    -->

</div>
