$primary-background-color: rgba(0, 0, 0, 0.5);
$secondary-background-color: rgba(5, 17, 54, 1);
$primary-color: rgba(255, 255, 57, 1);
$secondary-color: white;
$primary-border: 1px solid $primary-color;
